<div class="blog-page">
  <div class="blog-box" isotope infinitescroll data-is-template="<%= Link.template %>"></div>
</div>

<nav id="page_nav">
  <a href="<%= request.original_url %>/page/2"></a>
</nav>