
<div class="portfolio-page">
	<div class="portfolio-box" isotope>
		
		<div class="project-post aside-post">
			<div class="inner-post">
				<div class="post-content">
					<h2>Agosto de 2014</h2>
					<p>Mês da reinauguraçao do Estádio Beira-Rio</p>
				</div>
			</div>
		</div>

	</div>
</div>

<script id="gallery-image-tmpl" type="text/x-jsrender">
<div class="project-post">
	<img src="{{:host}}">
	<div class="hover-box">
		<div class="project-title">
			<h2>Creative Wallpaper</h2>
			<span>illustration, nature</span>							
		</div>
		<ul class="project-links">
			<li><a href="#"><i class="fa fa-heart"></i></a></li>
			<li><a href="http://facebook.com/{{:link}}" target="_blank"><i class="fa fa-arrow-right"></i></a></li>
			<li><a href="{{:host}}" target="_blank" class="zoom-image"><i class="fa fa-search"></i></a></li>
		</ul>
	</div>
</div>
</script>