<div class="portfolio-page">
	<div class="portfolio-box" isotope>

		<div class="project-post aside-post">
			<div class="inner-post">
				<div class="post-content">
					<h2>Galeria</h2>
					<p>A história da reforma do Gigante através dos olhos dos nossos colaboradores</p>
				</div>
			</div>
		</div>

		<% @albuns.each do |album| %>
			<div class="project-post">
			 	<a href="<%= gallery_path + '/' + album.slug %>">
					<img src="<%= Rails.application.config.assets_host + '/albuns/thumbs/' + album.slug + '/' + album.photos.first.basename %>">
					<div class="title"><%= album.title %></div>
				</a>
			</div>
		<% end %>

	</div>
</div>