<div class="portfolio-page">
  <div class="portfolio-box" isotope infinitescroll data-is-template="photo-gallery-tmpl">
    <div class="project-post aside-post">
      <div class="inner-post">
        <div class="post-content">
          <h2><%= @album.title %></h2>
          <p><%= @album.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav id="page_nav">
  <a href="<%= request.original_url %>/page/2"></a>
</nav>